<div class="container">
  <h1>Random URL Generator</h1>
  <h2>Welcome to random URL generator!</h2>
  <h3>If you already have an account, please sign in. Otherwise, please sign up for a new account to enjoy all the awesome benefits of shorter URLs!</h3>
</div>